body {
    background-image: url("https://giant.gfycat.com/InconsequentialAlienatedGentoopenguin.mp4");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
  }