body {
    background-image: url("https://giant.gfycat.com/InconsequentialAlienatedGentoopenguin.mp4");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
  }

  #questionPlaceCSS {
    background-color: rgb(157, 4, 4);
    color: rgb(190, 190, 69);
  }

  #titleText {
    color: rgb(255, 255, 196);
    text-align: center;

  }

  #quizAreaCSS {
    color: rgb(190, 190, 69);
    text-align: center;
  }

  #timerPlaceCSS {
    color: rgb(190, 97, 69);
    text-align: center;
  }